---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.18.0
  name: sandboxtemplates.agents.kruise.io
spec:
  group: agents.kruise.io
  names:
    kind: SandboxTemplate
    listKind: SandboxTemplateList
    plural: sandboxtemplates
    shortNames:
    - sbt
    singular: sandboxtemplate
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: SandboxSet is the Schema for the sandboxsets API, which is an
          advanced workload for managing sandboxes.
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: spec defines the desired state of SandboxSet
            properties:
              template:
                description: |-
                  Template describes the pods that will be created.
                  Template is mutual exclusive with TemplateRef
                x-kubernetes-preserve-unknown-fields: true
                x-kubernetes-validations:
                - message: Value is immutable
                  rule: self == oldSelf
              volumeClaimTemplates:
                description: VolumeClaimTemplates is a list of PVC templates to create
                  for this Sandbox.
                x-kubernetes-preserve-unknown-fields: true
                x-kubernetes-validations:
                - message: Value is immutable
                  rule: self == oldSelf
            type: object
        required:
        - spec
        type: object
    served: true
    storage: true
